# Repository owners
* @BalduinLandolt @mpro7 @seakayone @siers

# Data files are handled by RDU
/data/ @danielasubotic

# Documentation of the metadata model is handled by PM
/docs/data/ @danielasubotic @subotic @BalduinLandolt
